html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #1a191f;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
    cursor: pointer;
}

button:focus {
    outline: none;
}

a {
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
}

a:hover,
a:active,
a:focus {
    outline: none;
    text-decoration: none;
}

input,
textarea,
select {
    padding: 0;
    margin: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

 ::-moz-selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

 ::selection {
    background: #fff;
    color: #000;
    text-shadow: none;
}

 ::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

 ::-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

 :-moz-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

 :-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
}

.tab-content>.tab-pane {
    display: none;
}

.tab-content>.active {
    display: block;
}

.fade {
    -webkit-transition: opacity 0.25s linear;
    -moz-transition: opacity 0.25s linear;
    transition: opacity 0.25s linear;
}

@media screen and (prefers-reduced-motion: reduce) {
    .fade {
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }
}

.fade:not(.show) {
    opacity: 0;
}

.collapse:not(.show) {
    display: none;
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.4s ease;
    -moz-transition: height 0.4s ease;
    transition: height 0.4s ease;
}

@media screen and (prefers-reduced-motion: reduce) {
    .collapsing {
        -webkit-transition: none;
        -moz-transition: none;
        transition: none;
    }
}

.b-description_readmore_button {
    cursor: pointer;
    display: block;
    height: 24px;
    width: 100%;
    position: relative;
}

.b-description_readmore_button:before {
    content: '\f1c8';
    font-family: "Ionicons";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.75);
    font-size: 22px;
    line-height: 24px;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
}

.b-description_readmore_button:hover:before,
.b-description_readmore_button.b-description_readmore_button_active:before {
    color: #ff55a5;
}

.body:before {
    content: '';
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(43, 43, 49, 0.75);
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.4s ease;
    -moz-transition: 0.4s ease;
    transition: 0.4s ease;
}

.body--active:before {
    z-index: 99;
    opacity: 1;
    pointer-events: auto;
}

.m-t-135 {
    margin-top: 135px!important;
}

.p-t-20 {
    padding-top: 20px!important;
}