/* movie header */

.movie-header {
    height: 80px;
    background: transparent;
    display: block;
    position: fixed!important;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
}

.movie-header.show__bg {
    -webkit-transition: background .1s ease;
    -moz-transition: background .1s ease;
    transition: background .1s ease;
}

.movie-header .details__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 600;
}

.movie-header .back {
    font-size: 25px;
}

.h-100 {
    height: 100%;
}

.text-white {
    color: #f4f4f4!important;
}

.text-black {
    color: rgb(37, 36, 36)!important;
}

@media all and (max-width: 576px) {
    .movie-header .details__title {
        max-width: 295px;
    }
}