.footer {
    background-color: #28282d;
    display: block;
    overflow: hidden;
    padding: 10px 0 10px;
    -webkit-box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.3);
}

.footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    display: block;
    background-image: -moz-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -webkit-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: -ms-linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    background-image: linear-gradient(90deg, #ff55a5 0%, #ff5860 100%);
    -webkit-box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
    box-shadow: 0 0 20px 0 rgba(255, 88, 96, 0.5);
}

.footer__title {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.footer__social {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 15px;
}

.text-right {
    text-align: right;
}

.footer__logo {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100px;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1;
}

.footer__logo img {
    width: 100%;
    max-width: 110px;
    display: block;
}

.footer__social li {
    margin-right: 20px;
    font-size: 33px!important;
}

.footer__social li a i {
    font-size: 23px!important;
}

.footer__social li:last-child {
    margin-left: 0;
}

.footer__social li.facebook a {
    color: #3b5999;
}

.footer__social li.instagram a {
    color: #ff5860;
}

.footer__social li.instagram a i:before {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285aeb 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff5860;
}

.footer__social li.twitter a {
    color: #1da1f2;
}

.footer__social li.vk a {
    color: #45668e;
}

.footer__social a {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.footer__social a:hover {
    color: #ff55a5;
}

.footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 15px;
    border-top: 0px solid rgba(255, 255, 255, 0.05);
    padding-top: 0px;
    font-family: 'Open Sans', sans-serif;
}

.footer__copyright small {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.footer__credits {
    display: inline-block;
    -ms-flex-order: 3;
    -webkit-order: 3;
    order: 3;
    margin-top: 20px;
    font-size: 12px;
    line-height: 14px;
    color: rgba(255, 255, 255, 0.5);
}

.center {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer__credits a {
    padding-left: 2px;
    color: #ffd80e;
}

.footer__credits a:hover {
    color: #ff5860;
}

.w-100 {
    width: 100%;
}

svg .cls-1 {
    fill: #01d277;
}

@media (min-width: 768px) {
    .footer {
        padding: 60px 0 30px;
    }
    .footer__copyright {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        margin-top: 0px;
    }
    .footer__copyright ul {
        margin-top: 0;
    }
    .footer__title {
        margin-bottom: 15px;
    }
}

@media (min-width: 992px) {
    .footer__copyright ul li {
        margin-right: 30px;
    }
}

@media (max-width: 576px) {
    .footer__credits {
        text-align: left;
    }
}